<div class='mx-4'>
    <div class='row'>
        <div class="field">
            <%= f.label :strain %>
            <%= f.collection_select(:strain_id, @strains, :id, :name)%>
        </div>

        <div class="field mx-4">
            <%= f.label :percentage %>
            <%= f.number_field :percentage, in: 1.0..100.0, step: 1 %>
        </div>
    </div>

</div>